*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 93, 93);
}

.cal{
    padding: 16px;
    /* border: 1px solid black; */
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(77, 24, 24, 0.5),
    -1px 1px 5px rgba(77, 24, 24, 0.5);
}

button{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: transparent;
    cursor: pointer;
    margin: .4em;
    box-shadow: 1px 1px 3px rgba(161, 78, 78, 0.5),
    -1px 1px 3px rgba(161, 78, 78, 0.5);
    background-color: rgb(235, 93, 93);
}

.input{
    text-align: center;
    max-width: 270px;
    height: 80px;
    background-color: black;
    color: white;
    font-size: 3.4em;
    overflow: hidden;
}

.mod{
    box-shadow: inset 1px 1px 3px rgba(161, 78, 78, 0.5),
    inset -1px 1px 3px rgba(161, 78, 78, 0.5);
}


